body {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 11px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #f0f0f0; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #00a800; /* Kolor nagłówka */
    font-size: 24px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
h2 {
    color: #55067a; /* Kolor nagłówka */
    font-size: 24px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
p {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 11px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #c5c5c5; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}

h2 {
    animation: color-change 2s infinite;
  }
    @keyframes color-change {
        0% {
        color: blue;
        font-size: 20px;
        }

        50% {
        color: red;
        }

        100% {
        color: blue;
        }
    }

    h1 {
        animation: color-change 3s infinite;
    }
#asdassada
